/***** BASE STYLES *****/
body {
font-family: 'Montserrat', sans-serif;
color: black;
}

/*****GRID*****/
.first-section, .second-section, .third-section {
  width: 399px;
}

/*****BODY****/
.container {
  margin: 0px 40px 0px 40px;
  width: 1200px;
}

/*****HEADER*****/
header {
  height: 34px;
  border-bottom: 3px solid #77a466;
  margin: 0 auto;
  display: block;
  padding: 38px 0px;
}

header h1, nav ul li, .welcome h2, .first-section h4, .second-section h4, footer {
  text-transform: uppercase;
}

header h1 span , a, .welcome h2, .entrees, footer span{
  color: #77a466;
}

header h1{
  float: left;
  margin: 0px;
  font-size: 30px;
}

nav {
  float: right;
}

nav ul li {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
}

nav ul{
  padding:0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

/*****MAIN SECTION*****/
.main-section, .bottom-section{
  margin: 0 auto;
  clear: both;
}

.welcome h2{
  font-size: 18px;
}

.welcome p{
  line-height: 150%;
}

.main-image img{
  border-bottom: 3px solid #77a466;
}

/*****BOTTOM SECTION*****/
.first-section h4, .second-section h4, .third-section h4{
  font-size: 12px;
  height: auto;
  padding: 10px 0px;
}

.first-section{
  width: 399px;
}

.first-section, .second-section, .third-section{
    border-top: 1px solid #eee;
}

.first-section, .second-section, .third-section{
  float: left;
  height: auto;
  display: block;

}

.first-section ul li{
  list-style: none;
  padding: 10px 0;

}

.first-section ul{
  padding: 0px;
}

.second-section{
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  float: left;
  width: 339px;
  padding: 0px 30px;
}

.second-section .reviews{
  font-size: 16px;
  line-height: 21px;
}

.third-section h4{
  padding: 10px 30px;
}

.third-section .contact{
  font-size: 16px;
  font-weight: normal;
  line-height: 150%;
  padding: 10px 30px;
}

/*****FOOTER*****/
footer {
  font-size: 12px;
  height: 50px;
  text-align: center;
  border-top: 3px solid #eee;
  margin: 0 auto;
  clear: both;
  display: block;

}
